
@{
    ViewData["Title"] = "Žaidimų sąrašas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
    <h2>Žaidimų sąrašas</h2>
</div>

<div class="container-fluid bg-2 text-center">
    <h2>
        Šiuo metu kuriama
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
    </h2>
</div>