@model IEnumerable<FractionFigEqualityDto>
@{
    ViewData["Title"] = "FractionFigEqualityExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="task-header">
    <h2>Matematikos testai</h2>
    <h3>Trupmenų formų lyginimas</h3>
    <h4>Ar trupmena ir jos atvaizdavimas lygūs?</h4>
    <div class="balert alert-info" role="alert">
        <h4></h4>
    </div>
</div>

<div class="helper-header well well-sm text-center">
    <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
    <p>Visas teisingas lygybes pažymėkite varnele, o kada norėsite užbaigti spauskite "Užbaigti testą".</p>
</div>

<table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th>Atsakymas</th>
                <th>Trupmena</th>
                <th>Trupmenos atvaizdavimas</th>
            </tr>
        </thead>
@foreach(var fractionDto in Model)
{
        <tbody>
            <tr>
                <td class="col-md-1 text-center"><input class="equality-checkbox" type="checkbox" /></td>
                <td class="col-md-1 text-center"><h4>@Html.Raw(HttpUtility.HtmlDecode(fractionDto.Fraction.GetFractionHtml()))</h4></td>
                <td>
                    <svg width="300" height="30">
                        @for (int i = 0; i < fractionDto.DrawingFraction.Denominator; i++)
                        {
                            if (i < fractionDto.DrawingFraction.Numerator)
                            {
                                <rect x="@(i*30)" y="0" rx="0" ry="0" width="30" height="30" style="fill:forestgreen;stroke:black;stroke-width:5;opacity:1" />
                            }
                            else
                            {
                                <rect x="@(i*30)" y="0" rx="0" ry="0" width="30" height="30" style="fill:white;stroke:black;stroke-width:5;opacity:1" />
                            }
                        }

                        Sorry, your browser does not support inline SVG.
                    </svg>
                </td>
            </tr>
        </tbody>
}

</table>
