
@{
    ViewData["Title"] = "Matematikos testai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
    <h2>Matematikos testai</h2>
</div>


<div class="row">

    <div class="col-md-4">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-info text-center">Lygu, daugiau arba mažiau</a>
            <a href="#" class="list-group-item list-group-item-info text-center">Lygybės su vienu kintamuoju</a>
            <a href="#" class="list-group-item list-group-item-info text-center">Lygtys su vienu kintamuoju</a>
        </div>
    </div>
</div>
