@model ErrorViewModel
@{
    ViewData["Title"] = "Klaida";
}

<h1 class="text-danger">Klaida.</h1>
<h2 class="text-danger">Įvyko klaida bandant įvykdyti procesą.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Klaidos ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Informacija</h3>
<p>
    Bandykite atlikti veiksmą dar kartą. Jei ši klaida pasikartos prašome susisiekti su <strong>sistemos administratoriumi</strong>.
</p>
