@{
    ViewData["Title"] = "Apie";
}
<h2>@ViewData["Title"]</h2>

<div class="well">

    <h3>Kas yra EKlubas?</h3>

    EKlubas - internetinė sistema, kurioje žingeidūs ir smalsūs moksleiviai,studentai gali atnaujinti ir pagerinti
    savo sukauptas žinias gaudami daugybę įvairiausių atsitiktine tvarka generuojamų uždavinių.

    <h3>Planai</h3>

    <ol>
        <li>Lietuviškų citatų API</li>
        <li>Lietuviškų citatų API Swagger</li>
        <li>Matematikos žodiniai uždaviniai</li>
        <li>Phaser.js žaidimas</li>
        <li>Perkėlimas į React modulius</li>
        <li>Uždavinių išskirstymas</li>
        <li>Paveiksliukų atnaujinimas</li>
        <li>Programinių interface pritaikymas</li>
        <li>Google authentikacija</li>
        <li>Logginimas</li>
        <li>Ninject paruošimas</li>
        <li>Quartz.NET Implementacija</li>
        <li>OAuth prijungimas</li>
        <li>Unit ir integracinių testų implementacija</li>
        <li>Asinchroninis procesų apdorojimas</li>
    </ol>
</div>