@{
    ViewData["Title"] = "Apie";
}
<h2>@ViewData["Title"]</h2>

<div class="well">

    <h3>Kas yra EKlubas?</h3>

    EKlubas - internetinė sistema, kurioje žingeidūs ir smalsūs moksleiviai,studentai gali atnaujinti ir pagerinti
    savo sukauptas žinias gaudami daugybę įvairiausių atsitiktine tvarka generuojamų uždavinių.

    <h3>Planai</h3>

    <ol>
        <li>Testų laikmatis</li>
        <li>Pagerintas testų sudėtingumo pasirinkimas</li>
        <li>Reward sistemos perpanaudojimo pagerinimas</li>
        <li>Reward sistemos daily, activity, holiday, timed bonusai</li>
        <li>Reward sistemos challenge, achievements</li>
        <li>Repository pattern implementacija</li>
        <li>Kodo refactorinimas</li>
        <li>Admino DB valdiklis</li>
        <li>Rewardų animacijos</li>
        <li>Highscore lentelės</li>
        <li>Sukurti testų formą</li>
        <li>Lietuviškų citatų API</li>
        <li>Lietuviškų citatų API Swagger</li>
        <li>Matematikos žodiniai uždaviniai</li>
        <li>Phaser.js žaidimas</li>
        <li>Perkėlimas į React modulius</li>
        <li>Uždavinių išskirstymas</li>
        <li>Programinių interface pritaikymas</li>
        <li>Google authentikacija</li>
        <li>Logginimas</li>
        <li>Ninject paruošimas</li>
        <li>Quartz.NET Implementacija</li>
        <li>OAuth prijungimas</li>
        <li>Unit ir integracinių testų implementacija</li>
        <li>Asinchroninis procesų apdorojimas</li>
        <li>Role/claim authentikacija</li>
        <li>20 min. timer poilsiui akims ir treniruotės kojoms</li>
        <li>Maze find algoritmas</li>
        <li>StudyExamTask ir StudyExamAnswer praplėtimas (Many-to-One)</li>
        <li>CRON pasibaigusių StudyExamAnswer įrašų išvalymas</li>
        <li>EKlubas miestelio simuliatorius</li>
        <li>EKlubas virtuali parduotuvė</li>
    </ol>
</div>