@{
    ViewData["Title"] = "Kontaktai";
}
<h2>@ViewData["Title"]</h2>

<address>
    Edvinas Kesminas<br />
    Lithuania<br />
    Vilnius<br />
    <abbr title="Phone">Telefonas:</abbr>
    Viešai neprieinama
</address>

<address>
    <strong>Facebook:</strong> <a href="https://www.facebook.com/edvinas.kesminas.7">https://www.facebook.com/edvinas.kesminas.7</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/edvinas-kesminas-4aa385b9/">https://www.linkedin.com/in/edvinas-kesminas-4aa385b9/</a>
</address>
