
@{
    ViewData["Title"] = "Testo rezultatai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
    <h2>Testo rezultatai</h2>
</div>

<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.ResultMessage</div>
    <div class="panel-body">Rezultatas: @ViewBag.Score taškai</div>
    <div class="panel-body">Užsidirbote: @ViewBag.Reward <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span></div>
</div>