@{
    ViewData["Title"] = "Privatumo politika";
}
<h2>@ViewData["Title"]</h2>

<p>Jei planuojama naudoti svetainės kodą, resursus ar kitą medžiagą komerciniais tikslais prašome informuoti iš anksto.</p>
